body {
    background-color: lightpink;
}

h1 {
    font-family: "Passion One";
    font-size: 40px; 
    text-align: center;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 4px skyblue;
    text-shadow: 0 0 3px black;
}
legend {
    font-size: 35px;
    font-weight: bold;
}
fieldset {
    background-color: lightgoldenrodyellow;
    font-size: 28px;
}
ul{
    list-style-type: none;
    padding-left: 0px;
}

#Account {
    float: left
}